<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <Property name="layout">%d %highlight{%-5level}{FATAL=red blink, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue} %logger - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <LevelRangeFilter minLevel="FATAL" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${layout}" />
        </Console>
        <RollingFile name="LogFile"
                     fileName="logs/client.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval = "1" />
                <SizeBasedTriggeringPolicy size="250 MB" />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="by.mrtorex.businessshark.client.Main" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.utils.Loader" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.controllers.AdminMenuController" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.controllers.CompaniesController" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.controllers.EditInfoController" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.controllers.LoginController" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.controllers.PortfolioController" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.controllers.RegisterController" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.controllers.StocksController" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.controllers.UserMenuController" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.controllers.UsersController" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.services.CompanyService" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.services.PortfolioService" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.services.RoleService" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.services.StockService" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.client.gui.services.UserService" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.server.network.ServerClient" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.server.serializer.Deserializer" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.server.serializer.Serializer" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Logger name="by.mrtorex.businessshark.server.utils.PasswordHasher" level="info" additivity="false">
            <AppenderRef ref="LogFile" />
            <AppenderRef ref="Console" />
        </Logger>
        <Root level="warn">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>