.root {
    -fx-background-color: -color-background;
    -fx-padding: 40;
    -fx-font-family: "Bahnschrift";
    -fx-font-size: 14pt;
    -fx-spacing: 20;
    -fx-alignment: center;
}

.text {
    -fx-fill: -color-text;
}

.separator {
    -fx-max-width: 150;
}

.vertical {
    -fx-max-height: 300;
    -fx-orientation: vertical;
}

.separator .line {
    -fx-background-color: -color-separator;
    -fx-pref-height: 5;
    -fx-border-color: null;
}

.vertical .line {
    -fx-background-color: -color-separator;
    -fx-pref-width: 5;
    -fx-border-color: null;
}

.title {
    -fx-font-size: 28pt;
}

.text-field, .password-field {
    -fx-background-color: -color-background-field;
    -fx-border-color: -color-border;
    -fx-border-radius: 15;
    -fx-padding: 10;
    -fx-font-size: 14pt;
    -fx-text-fill: -color-text-field;
    -fx-background-radius: 15;
    -fx-max-width: 300;
}

.text-field:focused, .password-field:focused {
    -fx-border-color: -color-border-focused;
}

.text-field:hover, .password-field:hover {
    -fx-background-color: -color-background-field-hover;
}

.button {
    -fx-background-color: -color-background-button;
    -fx-text-fill: -color-text-button;
    -fx-font-size: 14pt;
    -fx-padding: 10;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-min-width: 200;
}

.button:hover {
    -fx-background-color: -color-background-button-hover;
}

.button:pressed {
    -fx-background-color: -color-background-button-pressed;
}

.button:focused {
    -fx-border-color: -color-border-focused;
}

.registerHBox {
    -fx-spacing: 20;
    -fx-pref-width: 500;
    -fx-pref-height: 150;
    -fx-alignment: center;
}

.registerVBox {
    -fx-spacing: 20;
    -fx-pref-width: 250;
    -fx-pref-height: 150;
}

.workflowHBox {
    -fx-alignment: center;
    -fx-spacing: 50;
}

.buttonsVBox {
    -fx-alignment: center;
    -fx-spacing: 30;
}

.infoVBox {
    -fx-alignment: center-left;
    -fx-spacing: 30;
}

.table-view {
    -fx-background-color: -color-background;
    -fx-border-color: -color-border;
    -fx-border-radius: 10;
    -fx-padding: 10;
    -fx-font-size: 14pt;
    -fx-pref-width: 700;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: -color-header-background;
    -fx-text-fill: -color-header-text;
    -fx-font-size: 16pt;
    -fx-padding: 10;
    -fx-border-color: -color-separator;
    -fx-border-width: 1;
}

.table-view .table-row {
    -fx-background-color: transparent; /* Цвет фона строки по умолчанию */
    -fx-text-fill: -color-text;
}

.table-view .table-row:hover {
    -fx-background-color: -color-row-hover; /* Цвет фона строки при наведении */
}

.table-view .table-row:selected {
    -fx-background-color: -color-row-selected; /* Цвет фона выделенной строки */
    -fx-text-fill: -color-text-selected; /* Цвет текста выделенной строки */
}

.table-view .table-cell {
    -fx-padding: 10;
    -fx-border-color: -color-separator;
    -fx-border-width: 0 0 1 0; /* Нижняя граница ячейки */
}

.table-view .table-cell:filled {
    -fx-background-color: -color-cell-background; /* Цвет фона ячейки */
}

.table-view .table-cell:focused {
    -fx-border-color: -color-border-focused; /* Цвет границы ячейки при фокусе */
}
